:root {
  --color-primary-red: hsl(0, 100%, 74%); /* background */
  --color-primary-green: hsl(154, 59%, 51%); /* background */
  --color-accent-blue: hsl(248, 32%, 49%); /* background */
  --color-dark-blue: hsl(249, 10%, 26%); /* background */
  --color-grayish-blue: hsl(246, 25%, 77%); /* background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  color: #fff;
  background-color: var(--color-primary-red);
}

.container-outer {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container-inner {
  padding: 10rem;
} */

.intro {
  flex: 0 0 45%;
}

.signup-form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.8rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22 px 0;
  display: inline-block;
}

.agreement {
  font-size: 0.8rem;
}

.agreement-gray {
}

.agreement-red {
  color: var(--color-primary-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
