:root {
  --color-primary-red: hsl(0, 100%, 74%); /* background */
  --color-primary-green: hsl(154, 59%, 51%); /* background */
  --color-accent-blue: hsl(248, 32%, 49%); /* background */
  --color-dark-blue: hsl(249, 10%, 26%); /* background */
  --color-grayish-blue: hsl(246, 25%, 77%); /* background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  color: #fff;
  background-color: var(--color-primary-red);
}

.container {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container-inner {
  padding: 10rem;
} */

.intro {
  flex: 0 0 40%;
}

.intro-form {
  display: flex;
  flex-direction: column;
}

.signup-form {
  height: 45rem;
  background-color: #fff;
  padding: 3rem;
  margin-top: 1.4rem;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 1.3rem;
  margin: 5px 0 1rem 0;
  border: 1px solid var(--color-grayish-blue);
  border-radius: 0.4rem;
}

.btn {
  color: #fff;
  padding: 1.3rem 0;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn-purple {
  background-color: var(--color-accent-blue);
  border-radius: 0.8rem;
}

.btn-green {
  background-color: var(--color-primary-green);
  border-radius: 0.4rem;
}

.agreement {
  font-size: 0.8rem;
}

.agreement-gray {
  color: var(--color-grayish-blue);
}

.agreement-red {
  color: var(--color-primary-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
