:root {
  --color-primary-red: hsl(0, 100%, 74%); /* background */
  --color-primary-green: hsl(154, 59%, 51%); /* background */
  --color-accent-blue: hsl(248, 32%, 49%); /* background */
  --color-dark-blue: hsl(249, 10%, 26%); /* background */
  --color-grayish-blue: hsl(246, 25%, 77%); /* background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  color: #fff;
  background-color: var(--color-primary-red);
}

.container {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container-inner {
  padding: 10rem;
} */

.intro {
  flex: 0 0 45%;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 2rem;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
}

.intro-form {
  display: flex;
  flex-direction: column;
}

.intro:last-of-type {
  margin-left: 5rem;
}

.signup-form {
  height: 38rem;
  background-color: #fff;
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 0.1rem rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}

.input-field {
  width: 100%;
  padding: 1.3rem;
  margin: 1rem 0 1rem 0;
  /* border: 0.1px solid #777; */
  border: none;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.signup-bold {
  font-weight: 700;
}

.signup-thin {
  font-weight: 400;
}

.btn {
  color: #fff;
  padding: 1.3rem 0;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.6rem;
}

.btn-purple {
  background-color: var(--color-accent-blue);
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 0.1rem rgba(0, 0, 0, 0.2);
}

.btn-green {
  background-color: var(--color-primary-green);
  border-radius: 0.4rem;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
  box-shadow: 0 0.4rem 0.1rem hsl(154, 58%, 37%);
}

.agreement {
  font-size: 0.8rem;
  text-align: center;
}

.agreement-gray {
  color: var(--color-grayish-blue);
}

.agreement-red {
  color: var(--color-primary-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  .contact-form {
    width: 80%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .contact-form {
    width: 100%;
  }
}
